.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 35rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--bg-color);
  border-radius: 1em;
}

@media(min-width: 1440px) {
  .container {
    width: 65rem;
    height: 45rem;
  }
}
